{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

        <div class="hero">
            <div class="content">
                <h1>About Us</h1>
            </div>
        </div>
    </div>

    <div class="aboutus">
        <div class="img">
            <img src="{% static './asset/img 2.jpeg' %}" alt="" srcset="">
        </div>
        <div class="text">
            <h1>About The Church</h1>
            <h2 style="color: black;">Christ Gospel Evangelical Fire Ministry International, led by a dynamic and anointed man, Pastor Rilwan Olowo Adamu and his amiable wife, Pastor Mrs. Precious Abiodun Rilwan. Surrounded by a Board of Trustees and dedicated, respected leader.</h2>
            <br>
            <h2 style="color: black;">
            Whilst this church is still attaining heights, they have succeeded in spreading the Gospel of Jesus Christ far and near, Under three years (2020 till date) of establishment, with the backing of the Holy Ghost, the Church has been able to plant four daughter churches which are situated at various places such as Ikoya, Akure, Abakaliki and Adamo to the glory of God which further proves that their evangelical nature backed up by Christ Himself is at work.
        </h2>
        </div>
    </div>

    <div class="symbols">
        <div class="title">
            <center><h1>Symbols of our Colours</h1></center>
        </div>
        <div class="contain">
            <div class="box">
                <img src="{% static './asset/blood-drop.png' %}" alt="">
                <h2>Red - The Blood of the Lamb</h2>
                <span>The absolute gospel is seen throughout the Bible in the color of red because of the Lamb of God's blood shed for sinner. Red is the scarlet thread that is interwoven throughout the Bible, from Genesis to Revelation. Rahab who lived in the wall of Jericho was saved because of a red cord let down so that the Israelite army would spare her life. The lamb's blood applied to the doors of the Israelites on the first Passover saved them by the “sprinkled the blood, so that the Destroyer of the firstborn might not touch them” (Heb 11:28), thus the meaning of Passover. And naturally, Jesus shed blood is what cleanses us from all unrighteousness (1 John 1:9, 2 Cor 5:21) and even at Calvary where “they stripped him and put a scarlet robe on him” (Matt 27:28)</span>
            </div>

            <div class="box">
                <img src="{% static './asset/heaven.png' %}" alt="">
                <h2>Blue - Symbolic of the Heavenly Realm</h2>
                <span>In Ezekiel's vision of the glory of the Lamb of God, he wrote “And above the expanse over their heads there was the likeness of a throne, in appearance like sapphire; and seated above the likeness of a throne was a likeness with a human appearance” (Ezk 1:26) and sapphire is mostly blue in color. Blue will also be one of the dominant colors in the New Jerusalem that descends out of heaven.</span>
            </div>

            <div class="box">
                <img src="{% static './asset/virtuous.png' %}" alt="">
                <h2>White - The Colour of Righteousness</h2>
                <span>The color of the righteousness of God comes at the expense of the red blood of Christ. The Psalmist knew that forgiveness comes only by what he writes, “Purge me with hyssop, and I shall be clean; wash me, and I shall be whiter than snow” (Psalm 51:7). The Apostle John writes about those slain for their faith “were each given a white robe and told to rest a little longer, until the number of their fellow servants and their brothers should be complete, who were to be killed as they themselves had been” (Rev 6:11). John “saw them standing before the throne, and before the Lamb, arrayed in white robes. And one of the elders said unto me, Who are these clothed in white robes? and where did they come from? And I said unto him, My lord, you know. And he said unto me, These are they who come out of the great tribulation, and have washed their robes, and have made their robes white in the blood of the lamb” (Rev 7:13-4).</span>
            </div>

            <div class="box">
                <img src="{% static './asset/love.png' %}" alt="">
                <h2>Gold - It represents God's Love</h2>
                <span>The colour gold points to God's Deity, Divinity and Sovereinty, the mercy seat was pure gold as well as the two cherubim, one each side with wings. (Exo 25:10-21). Gold also stands for Glory, the Godhead, Refining Process. Jesus told the Church of Laodicea to buy from me gold refined by fire, so that you may be rich and white garments so that you may clothe yourselves and the shame of your nakedness may not be seen...(Rev3:18). Peter wrote that "the tested genuineness of your faith more precious than gold that perishes though it is tested by fire..." (1Pet1:7), Kingship, Words of Wisdom, Truth, and Knowledge, Faith, Anointing Oil.</span>
            </div>
        </div>
    </div>

    <div class="banner">
        <h1>Worship with Us</h1>
        <button><a href="https://maps.app.goo.gl/14E3NPNL2zzbqMSL8">Find us</a></button>
    </div>
    
{% endblock content %}